<a href="https://colab.research.google.com/github/NabilahSharfina/Rakamin-Academy/blob/main/Practice_Rakamin_Virtual_Internship.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
# Load data from google drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import numpy as np # for performing mathematical calculations behind ML algorithms
import matplotlib.pyplot as plt # for visualization
import pandas as pd # for handling and cleaning the dataset
import seaborn as sns # for visualization

# MINGGU 1

In [85]:
# Dataframe Tabel Application Record
df_ar = pd.read_csv('/content/drive/MyDrive/RAKAMIN ACADEMY/Virtual Internship Program - ID X Partners Data Scientist/MINGGU 1/Dataset/application_record.csv')
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [59]:
# Dataframe Tabel Credit Record
df_cr = pd.read_csv('/content/drive/MyDrive/RAKAMIN ACADEMY/Virtual Internship Program - ID X Partners Data Scientist/MINGGU 1/Dataset/credit_record.csv')
df_cr.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

In [29]:
df_ar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   ID                   438557 non-null  int64
 1   CODE_GENDER          438557 non-null  object
 2   FLAG_OWN_CAR         438557 non-null  object
 3   FLAG_OWN_REALTY      438557 non-null  object
 4   CNT_CHILDREN         438557 non-null  int64
 5   AMT_INCOME_TOTAL     438557 non-null  float64
 6   NAME_INCOME_TYPE     438557 non-null  object
 7   NAME_EDUCATION_TYPE  438557 non-null  object
 8   NAME_FAMILY_STATUS   438557 non-null  object
 9   NAME_HOUSING_TYPE    438557 non-null  object
 10  DAYS_BIRTH           438557 non-null  int64
 11  DAYS_EMPLOYED        438557 non-null  int64
 12  FLAG_MOBIL           438557 non-null  int64
 13  FLAG_WORK_PHONE      438557 non-null  int64
 14  FLAG_PHONE           438557 non-null  int64
 15  FLAG_EMAIL           438557 non-null  int64
 16  OCCUPATION_TYPE      304354 non-null  object
 17  CNT_FAM_MEMBERS      438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

In [27]:
df_cr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   ID              1048575 non-null  int64
 1   MONTHS_BALANCE  1048575 non-null  int64
 2   STATUS          1048575 non-null  object
dtypes: int64(2), object(1)
memory usage: 24.0+ MB

In [57]:
df_ar.duplicated().sum()

0

In [60]:
df_cr.duplicated().sum()

0

# MINGGU 2 - DATA UNDERSTANDING & DATA PREPARATION

### Soal No. 4

In [42]:
df_ar[['FLAG_PHONE']].head()

   FLAG_PHONE
0           0
1           0
2           0
3           1
4           1

In [43]:
# Cek jawaban a == SALAH
df_ar['FLAG_PHONE'] = df_ar['FLAG_PHONE'] = np.where(df_ar['FLAG_PHONE'] == 1, 'N', 'Y')
df_ar[['FLAG_PHONE']].head()

  FLAG_PHONE
0          Y
1          Y
2          Y
3          N
4          N

In [48]:
# Cek jawaban b == SALAH
df_ar['FLAG_PHONE'] = df_ar['FLAG_PHONE'] = np.where(df_ar['FLAG_PHONE'] == 0, 'Y', 'N')
df_ar[['FLAG_PHONE']].head()

  FLAG_PHONE
0          Y
1          Y
2          Y
3          N
4          N

In [52]:
# Cek jawaban c == BETUL
df_ar['FLAG_PHONE'] = df_ar['FLAG_PHONE'] = np.where(df_ar['FLAG_PHONE'] == 0, 'N', 'Y')
df_ar[['FLAG_PHONE']].head()

  FLAG_PHONE
0          N
1          N
2          N
3          Y
4          Y

In [50]:
# Cek jawaban d == BETUL
df_ar['FLAG_PHONE'] = df_ar['FLAG_PHONE'] = np.where(df_ar['FLAG_PHONE'] == 1, 'Y', 'N')
df_ar[['FLAG_PHONE']].head()

  FLAG_PHONE
0          N
1          N
2          N
3          Y
4          Y

### Soal No. 7

In [73]:
df_ar[['DAYS_BIRTH']].head()

   DAYS_BIRTH
0      -12005
1      -12005
2      -21474
3      -19110
4      -19110

In [95]:
df_ar['AGE'] = df_ar['DAYS_BIRTH'] / -365
df_ar[['DAYS_BIRTH', 'AGE']].head()

   DAYS_BIRTH        AGE
0      -12005  32.890411
1      -12005  32.890411
2      -21474  58.832877
3      -19110  52.356164
4      -19110  52.356164

In [94]:
# Pilihan jawaban a == SALAH, karena < 0,5 ditambah 1
df_ar['AGE'] = df_ar['AGE'].apply(np.ceil)
df_ar[['DAYS_BIRTH', 'AGE']].head()

   DAYS_BIRTH   AGE
0      -12005  33.0
1      -12005  33.0
2      -21474  59.0
3      -19110  53.0
4      -19110  53.0

In [96]:
# Pilihan jawaban b == BENAR, karena >= 0,5 ditambah 1 dan < 0,5 dibulatkan ke bawah
df_ar['AGE'] = df_ar['AGE'].round(decimals=0)
df_ar[['DAYS_BIRTH', 'AGE']].head()

   DAYS_BIRTH   AGE
0      -12005  33.0
1      -12005  33.0
2      -21474  59.0
3      -19110  52.0
4      -19110  52.0

In [90]:
# Pilihan jawaban c == SALAH, karena kurang 0,1
df_ar['AGE'] = df_ar['AGE'].round(decimals=1)
df_ar[['DAYS_BIRTH', 'AGE']].head()

   DAYS_BIRTH   AGE
0      -12005  32.9
1      -12005  32.9
2      -21474  58.8
3      -19110  52.4
4      -19110  52.4

In [92]:
# Pilihan jawaban d == SALAH, karena dibulatkan ke bawah
df_ar['AGE'] = df_ar['AGE'].apply(np.floor)
df_ar[['DAYS_BIRTH', 'AGE']].head()

   DAYS_BIRTH   AGE
0      -12005  32.0
1      -12005  32.0
2      -21474  58.0
3      -19110  52.0
4      -19110  52.0

### Soal No. 8

In [63]:
# Pilihan jawaban a == BENAR
df_ar['OCCUPATION_TYPE'] = 'Unknown'
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Unknown,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Unknown,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Unknown,1.0

In [61]:
# Pilihan jawaban b == BENAR
df_ar['OCCUPATION_TYPE'] = df_ar['OCCUPATION_TYPE'].fillna('Unknown')
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [65]:
# Pilihan jawaban c == ERROR
df_ar['OCCUPATION_TYPE'] = fillna('Unknown')
df_ar.head()

NameError: ignored

In [66]:
# Pilihan jawaban d == BENAR
df_ar['OCCUPATION_TYPE'].fillna('Unknown', inplace=True)
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,Unknown,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

### Soal No. 9

In [68]:
# Pilihan jawaban a == ERROR
df_ar.ID = df_ar.ID.totype(str)
df_ar.dtypes

AttributeError: ignored

In [69]:
# Pilihan jawaban b == BENAR
df_ar.ID = df_ar.ID.astype(str)
df_ar.dtypes

ID                      object
CODE_GENDER             object
FLAG_OWN_CAR            object
FLAG_OWN_REALTY         object
CNT_CHILDREN             int64
AMT_INCOME_TOTAL       float64
NAME_INCOME_TYPE        object
NAME_EDUCATION_TYPE     object
NAME_FAMILY_STATUS      object
NAME_HOUSING_TYPE       object
DAYS_BIRTH               int64
DAYS_EMPLOYED            int64
FLAG_MOBIL               int64
FLAG_WORK_PHONE          int64
FLAG_PHONE               int64
FLAG_EMAIL               int64
OCCUPATION_TYPE         object
CNT_FAM_MEMBERS        float64
dtype: object

In [71]:
# Pilihan jawaban c == ERROR
df_ar.ID = df_ar.ID.cast(str)
df_ar.dtypes

AttributeError: ignored

In [72]:
# Pilihan jawaban d == ERROR
df_ar.ID = df_ar.ID.cast_as(str)
df_ar.dtypes

AttributeError: ignored

## Soal No. 10

In [24]:
# Soal No. 10 pilihan jawaban a
df_ar.drop(['ID', 'CODE_GENDER'], axis=1, inplace=False)
df_ar

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,M,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,6840222,F,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,6841878,F,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,6842765,F,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,6842885,F,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

In [19]:
# Soal No. 10 pilihan jawaban b
df_ar.drop(['ID', 'CODE_GENDER'], axis=0, inplace=False)

KeyError: ignored

In [20]:
# Soal No. 10 pilihan jawaban c
df_ar.drop(['ID', 'CODE_GENDER'], axis=0, inplace=True)

KeyError: ignored

In [57]:
# Soal No. 10 pilihan jawaban d
df_ar.drop(['ID', 'CODE_GENDER'], axis=1, inplace=True)
df_ar

,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS
0,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0
438553,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0
438554,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0
438555,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0
438556,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0

## Standarisasi / Normalisasi

In [40]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['CNT_CHILDREN']) 
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0. 0. 0. ... 0. 0. 0.]]

In [41]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['AMT_INCOME_TOTAL']) 
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.00296868 0.00296868 0.00078123 ... 0.00037499 0.00049999 0.00084373]]

In [42]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['CNT_FAM_MEMBERS'])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.00127387 0.00127387 0.00127387 ... 0.00063693 0.00127387 0.00127387]]

In [46]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['DAYS_BIRTH'])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[-0.00109626 -0.00109626 -0.00196093 ... -0.00074597 -0.00197911
  -0.00172205]]

In [47]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['ID'])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.00125032 0.00125032 0.00125032 ... 0.00170789 0.00170812 0.00170815]]

In [45]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['DAYS_EMPLOYED'])
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[-4.52986183e-05 -4.52986183e-05 -1.13096947e-05 ... -3.71005857e-06
   3.64266914e-03 -1.19779041e-05]]

In [48]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['FLAG_MOBIL']) 
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.00151003 0.00151003 0.00151003 ... 0.00151003 0.00151003 0.00151003]]

In [49]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['FLAG_PHONE']) 
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0.        0.        0.        ... 0.        0.        0.0028149]]

In [50]:
# Soal No. 5 - standarisasi / normalisasi
from sklearn import preprocessing
x_array = np.array(df_ar['FLAG_EMAIL']) 
normalized_arr = preprocessing.normalize([x_array])
print(normalized_arr)

[[0. 0. 0. ... 0. 0. 0.]]

## Label Encoding

### Label Encoding Using Python

> Label Encoding can be performed in 2 ways namely:
1. LabelEncoder class using scikit-learn library 
2. LabelEncoder class using category codes

#### CODE_GENDER

##### Approach 1  scikit-learn library approach

> And then:
1. Create an instance of LabelEncoder() and store it in labelencoder variable/object.
2. Apply fit and transform which does the trick to assign numerical value to categorical value and the same is stored in new column called 'CODE_GENDER_N'.
3. Note that we have added a new column called 'CODE_GENDER_N' which contains numerical value associated to categorical value and still the column called State is present in the dataframe. This column needs to be removed before we feed the final preprocess data to machine learning model to learn.

In [60]:
from sklearn.preprocessing import LabelEncoder
labelEncoder = LabelEncoder()
df_ar['CODE_GENDER_N'] = labelEncoder.fit_transform(df_ar['CODE_GENDER']) 
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_N
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,1
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0

##### Approach 2  Category Codes

> And then:
1. As you had already observed that `CODE_GENDER` column datatype is an object type which is by default hence, need to convert 'CODE_GENDER' to a category type with the help of pandas.
2. We can access the codes of the categories by running df_ar['CODE_GENDER'].cat.codes.

In [66]:
df_ar['CODE_GENDER'] = df_ar['CODE_GENDER'].astype('category') 
df_ar.dtypes

ID                        int64
CODE_GENDER            category
FLAG_OWN_CAR             object
FLAG_OWN_REALTY          object
CNT_CHILDREN              int64
AMT_INCOME_TOTAL        float64
NAME_INCOME_TYPE         object
NAME_EDUCATION_TYPE      object
NAME_FAMILY_STATUS       object
NAME_HOUSING_TYPE        object
DAYS_BIRTH                int64
DAYS_EMPLOYED             int64
FLAG_MOBIL                int64
FLAG_WORK_PHONE           int64
FLAG_PHONE                int64
FLAG_EMAIL                int64
OCCUPATION_TYPE          object
CNT_FAM_MEMBERS         float64
CODE_GENDER_N             int64
dtype: object

In [67]:
df_ar['CODE_GENDER'] = df_ar['CODE_GENDER'].cat.codes
df_ar

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,DAYS_BIRTH,DAYS_EMPLOYED,FLAG_MOBIL,FLAG_WORK_PHONE,FLAG_PHONE,FLAG_EMAIL,OCCUPATION_TYPE,CNT_FAM_MEMBERS,CODE_GENDER_N
0,5008804,1,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
1,5008805,1,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0,1
2,5008806,1,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0,1
3,5008808,0,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
4,5008809,0,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438552,6840104,1,N,Y,0,135000.0,Pensioner,Secondary / secondary special,Separated,House / apartment,-22717,365243,1,0,0,0,NaN,1.0,1
438553,6840222,0,N,N,0,103500.0,Working,Secondary / secondary special,Single / not married,House / apartment,-15939,-3007,1,0,0,0,Laborers,1.0,0
438554,6841878,0,N,N,0,54000.0,Commercial associate,Higher education,Single / not married,With parents,-8169,-372,1,1,0,0,Sales staff,1.0,0
438555,6842765,0,N,Y,0,72000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-21673,365243,1,0,0,0,NaN,2.0,0
438556,6842885,0,N,Y,0,121500.0,Working,Secondary / secondary special,Married,House / apartment,-18858,-1201,1,0,1,0,Sales staff,2.0,0

> One potential issue with label encoding is that most of the time, there is no relationship of any kind between categories, while label encoding introduces a relationship. 

> In the above six classes example for `CODE_GENDER` column, the relationship looks as follows: 0 < 1. It means that numeric values can be misjudged by algorithms as having some sort of order in them. This does not make much sense if the categories are, for example 'CODE_GENDER'. 

> There is no such relation in the original data with the actual State names, but, by using numerical values as we did, a number-related connection between the encoded data might be made. To overcome this problem, we can use one-hot encoding as explained below.

### One-Hot Encoding Using Python

#### CODE_GENDER

##### Approach 1  scikit-learn library approach

In [30]:
from sklearn import preprocessing
labelEncoder = preprocessing.LabelEncoder()
df_ar['CODE_GENDER_N'] =labelEncoder.fit_transform(df_ar['CODE_GENDER'])
df_ar[['CODE_GENDER', 'CODE_GENDER_N']].head()

  CODE_GENDER  CODE_GENDER_N
0           M              1
1           M              1
2           M              1
3           F              0
4           F              0

##### Approach 2  Using Pandas: with the help of get_dummies function

In [26]:
ar_ohe_df = pd.get_dummies(df_ar['CODE_GENDER'], drop_first=True)
ar_ohe_df.head()

   M
0  1
1  1
2  1
3  0
4  0

In [27]:
df_ar = pd.concat([df_ar, ar_ohe_df], axis=1)
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,CODE_GENDER_M,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Working,Pensioner,State servant,Student,Working,M
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,0,1,0,0,0,1,1
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,0,0,0,1,0,0,0,1,1
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,1,0,0,0,1,0,0,0,1,1
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0

#### NAME_INCOME_TYPE

##### Approach 1  scikit-learn library approach

In [79]:
from sklearn.preprocessing import OneHotEncoder
oneHotEncoder = OneHotEncoder(sparse=False,
                              handle_unknown='error',
                              drop='first')

oneHotEncoder_df = pd.DataFrame(oneHotEncoder.fit_transform(df_ar[['NAME_INCOME_TYPE']]))
oneHotEncoder_df

          0    1    2    3
0       0.0  0.0  0.0  1.0
1       0.0  0.0  0.0  1.0
2       0.0  0.0  0.0  1.0
3       0.0  0.0  0.0  0.0
4       0.0  0.0  0.0  0.0
...     ...  ...  ...  ...
438552  1.0  0.0  0.0  0.0
438553  0.0  0.0  0.0  1.0
438554  0.0  0.0  0.0  0.0
438555  1.0  0.0  0.0  0.0
438556  0.0  0.0  0.0  1.0

[438557 rows x 4 columns]

In [80]:
df_ar = df_ar.join(oneHotEncoder_df)
df_ar.head()

ValueError: ignored

##### Approach 2  Using Pandas: with the help of get_dummies function

In [24]:
ar_ohe_df = pd.get_dummies(df_ar['NAME_INCOME_TYPE'], drop_first=True)
ar_ohe_df.head()

   Pensioner  State servant  Student  Working
0          0              0        0        1
1          0              0        0        1
2          0              0        0        1
3          0              0        0        0
4          0              0        0        0

In [25]:
df_ar = pd.concat([df_ar, ar_ohe_df], axis=1)
df_ar.head()

,ID,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,CODE_GENDER_M,CODE_GENDER_M,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Student,NAME_INCOME_TYPE_Working,Pensioner,State servant,Student,Working
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,0,1,0,0,0,1
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,...,1,1,0,0,0,1,0,0,0,1
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,...,1,1,0,0,0,1,0,0,0,1
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0

### Ordinal Encoding Using Python

In [17]:
housing = df_ar['NAME_HOUSING_TYPE']
housing

0          Rented apartment
1          Rented apartment
2         House / apartment
3         House / apartment
4         House / apartment
                ...
438552    House / apartment
438553    House / apartment
438554         With parents
438555    House / apartment
438556    House / apartment
Name: NAME_HOUSING_TYPE, Length: 438557, dtype: object

In [18]:
education = df_ar['NAME_EDUCATION_TYPE']
education

0                      Higher education
1                      Higher education
2         Secondary / secondary special
3         Secondary / secondary special
4         Secondary / secondary special
                      ...
438552    Secondary / secondary special
438553    Secondary / secondary special
438554                 Higher education
438555    Secondary / secondary special
438556    Secondary / secondary special
Name: NAME_EDUCATION_TYPE, Length: 438557, dtype: object

# MINGGU 3 - DATA VISUALIZATION